body{
  font-family: 'Work Sans', sans-serif;
  display: flex;
  justify-content: center;
}
h2{
  font-weight: lighter;
  opacity: 0.4;
}
p{
  font-size: large;
  line-height: 32px;
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
.container {
  display: inline-block;
  width: 100vh;
  text-align: justify;
  
}
@media (max-width: 940px) {
  body{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 18px;
  }
  img{
    max-width: 80%;
  }
}


.publish-details {
  display: flex;
  align-items: center;
}
.pub{
  line-height: 27px;
  font-family: 'Work Sans', sans-serif;
  font-size: medium;
}
p::selection{
  background-color: lightblue;
}
h1::selection{
  background-color: lightblue;
}
